.navbar {
    padding: 10px 15px;
    border-bottom: 1px solid #d5d5d5;
    background-color: #ffffff;

    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0.5em;

        .logo{
            width: 35%;

            img{
                width: 100%;
                height: auto;
            }
        }

        .contactLink{
            display: flex;
            align-items: center;
            gap: 0.5em;
            padding: 5px 10px;
            background-color: #375E97;
            color: #fff;
            border-radius: 10px;
            text-decoration: none;
        }
    }
    .tabbar{
        width: 80%;
        display: flex;
        justify-content: space-between;
        padding: 10px 0em;
        
        li{

            a{
                color: #3d3d3d;
                font-size: 0.9rem;
            }
        }
    }
}
