.marquee {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background-color: #375e97;
    color: #ffffff;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
  }
  
  .marqueeContent {
    display: inline-flex;
    gap: 2rem;
    animation: scroll 20s linear infinite;
    padding: 5px 0px;
  }
  
  .marqueeWord {
    display: inline-block;
    padding: 0 1rem;
  }
  
  /* Scroll */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  